body {
	
font-family: 'Oswald', sans-serif;
    background: url("../img/back2.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #20FD3D;
}

h5 {
color: #20E0FD;
}

.j {
width: 50%;
}



.a {
width: 25%;
}

.d {
width: 3%;
}

.h {
width: 55%;
}

h1 {
    font-size: 290%;
}

h2 {
    font-size: 240%;
}


a {
	text-decoration: none;
	color: #0066FF;
	
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}

.main {
    background-color: #FFF;
    max-width: 800px;
	margin-right: auto;
	margin-left: auto:
	