body {
	
font-family: 'Erica One', cursive;
    background: url("../img/trick.gif") no-repeat center center fixed;
	background-size: cover;
	color: green;
}

.a {
width: 25%;
}

.d {
width: 3%;
}

.h {
width: 55%;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 300%;
}


a {
	text-decoration: none;
	color: #0066FF;
	
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}

.main {
    background-color: #FFF;
    max-width: 800px;
	margin-right: auto;
	margin-left: auto:
	